<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arstagaev.permissions">

<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->

<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        tools:ignore="ScopedStorage" />-->
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"-->
<!--        tools:ignore="ScopedStorage" />-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->

<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> &lt;!&ndash; FROM ANDROID 12 &ndash;&gt;-->


<!--    &lt;!&ndash; for Android 11 and lower &ndash;&gt;-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BLUETOOTH"-->
<!--        android:maxSdkVersion="30" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BLUETOOTH_ADMIN"-->
<!--        android:maxSdkVersion="30" />-->
<!--    &lt;!&ndash; needed only for scanning &ndash;&gt;-->

<!--    &lt;!&ndash; for Android 12 and above, include the ones you really need &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />-->


<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <application>
    </application>
</manifest>